body{
margin:0;
background:black;
font-family:Arial;
}

.container{
position:relative;
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* картинка */
.background{
width:100%;
height:100vh;
object-fit:contain;
}

/* відповідь у кулі */
#answer{
position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
font-size:26px;
color:white;
text-shadow:0 0 20px #b700ff;
font-weight:bold;
text-align:center;
width:60%;
}

/* кнопка */
.magic-button{
position:absolute;
bottom:18%;
padding:16px 34px;
font-size:18px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#a000ff,#ff00ff);
color:white;
box-shadow:0 0 20px purple;
cursor:pointer;
}
