body{
margin:0;
font-family:Arial;
background:black;
overflow:hidden;
}

.container{
position:relative;
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

/* магічна картинка */
.background{
position:absolute;
width:100%;
height:100%;
object-fit:contain;
}

/* текст відповіді */
#answer{
position:absolute;
top:42%;
left:50%;
transform:translate(-50%,-50%);
font-size:28px;
color:white;
text-shadow:0 0 20px #a000ff;
font-weight:bold;
text-align:center;
width:60%;
}

/* кнопка */
.magic-button{
position:absolute;
bottom:22%;
padding:18px 40px;
font-size:20px;
border:none;
border-radius:30px;
background:linear-gradient(45deg,#a000ff,#ff00ff);
color:white;
box-shadow:0 0 25px purple;
cursor:pointer;
}
